/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background: #f1f1f1;
  background-color: #121212;
  scroll-behavior: smooth;
}

canvas {
  touch-action: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@layer utilities {
  .heading {
    @apply text-white text-4xl sm:text-6xl lg:text-7xl text-center mt-10 lg:mt-20 tracking-wide pointer-events-none text-balance max-w-[800px];
  }
  .heading2 {
    @apply text-white text-4xl sm:text-6xl lg:text-6xl text-center mt-10 lg:mt-20 tracking-wide pointer-events-none text-balance mx-auto;
  }
  .text {
    @apply text-neutral-500 text-xl pointer-events-none;
  }
  .span {
    @apply bg-gradient-to-r from-orange-500 to-orange-900 bg-clip-text text-transparent;
  }
  .btn-primary {
    @apply text-sm bg-gradient-to-r from-orange-500 to-orange-900 px-4 py-2 rounded-md hover:scale-[0.95] duration-300 transition-all text-nowrap;
  }
  .btn-secondary {
    @apply text-sm bg-transparent px-4 py-2 border border-white rounded-md hover:scale-[0.95] duration-300 transition-all
    text-nowrap;
  }
}
